PORT=3000
MONGODB_URI=mongodb://localhost:27017/bookshelf_db
JWT_SECRET=your_super_secret_key_here
JWT_EXPIRES_IN=7d
REFRESH_TOKEN_SECRET=your_refresh_secret
REFRESH_TOKEN_EXPIRES_IN=30d
CSV_PATH=../scrapebooks/books.csv
